body {
  font-family: sans-serif;
  margin: 20px;
}

p.button { 
           margin-top: 20px;
           font-family: sans-serif;
           font-size: 12px;
           }

p.urldatas { 
           margin-top: 20px;
           font-family: sans-serif;
           font-size: 12px;
           }


a.data { 
         margin-top: 20px;
         font-family: sans-serif;
         font-size: 12px;
         text-decoration: none;
         }

span.ui-icon {  float: right; }

#container { width: 940px; }

/* The map */
#maplegend { float: left;
             width: 350px;
             height:480px;
             }

#maplegend ul {
                padding-left: 0px;
                list-style: none;
                }

ul img { 
         vertical-align: middle;
         }

ul input { 
         vertical-align: middle;
         }


#map { float: left;
       width:700px;
       height:480px;
       border: 1px solid #b6b6b6;
       }


#mapfoot { clear: left; 
           padding-top: 10px;
           font-size: 10px;
}


/* */


h1 {   font-size: 16px; }

a.tablink { 
            text-decoration: none;
            color: #00ff00;
         }

div.ui-tabs-panel { background-color: #F0F0F0; }


li.ui-state-default  { background-color: #FFFFFF; }
li.ui-tabs-selected  { background-color: #F0F0F0; }